:root{
    --darker: #2C3E50;
    --green: #1ABC9C;
    --dark: #3A546D;
}

.main-header-debug{
    background-color: var(--darker);
    height: 5.625rem;
    width: 100%;
}

.main-container{
    border: 2px solid salmon;
    height: 100%;
    max-width: 71.25rem;
}

.col-3{
    border: 2px solid red;
    height: 5.3rem;
}

.hero{
    background-color: var(--green);
    width: 100%;
    height: 36.875rem;
}

.hero-card{
    border: 2px solid orange;
    width: 40rem;
    height: 30rem;
}

.col-4{
    border: 2px solid blue;
    height: 16.25rem;
    width: 22.5rem;
}

.about{
    background-color: var(--green);
    width: 100%;
    height: 36.875rem;
}

.about-title{
    border: 2px solid green;
    width: 25rem;
    height: 12.5rem;
}

.about-description{
    border: 2px solid limegreen;
    width: 61.25rem;
    height: 8.75rem;
}

.btn-download{
    border: 1px solid white;
    color: white;
}