.bsf_bg_darker{
    background-color: #2C3E50;
}

.bsf_bg_green{
    background-color: #1ABC9C;;
}

.bsf_bg_dark{
    background-color: #3A546D;;
}

img{
    width: 100%;
}

#site_header{
    background-color: var(--darker);
}

.col-3{
    border: 2px solid red;
    height: 5.3rem;
}



.col-4{
    border: 2px solid blue;
    height: 16.25rem;
    width: 22.5rem;
}

.about{
    background-color: var(--green);
    width: 100%;
    height: 36.875rem;
}

.about-title{
    border: 2px solid green;
    width: 25rem;
    height: 12.5rem;
}

.about-description{
    border: 2px solid limegreen;
    width: 61.25rem;
    height: 8.75rem;
}

.btn-download{
    border: 1px solid white;
    color: white;
}

.contact{
    width: 100%;
    height: 36.875rem;
}

.contact-title{
    border: 2px solid black;
    width: 25rem;
    height: 12.5rem;
}

.contact-list{
    height: 16rem;
    width: 60.625rem;
    border: 2px solid darkgray;
}

.btn-green{
    background-color: var(--green);
    color: white;
}

.infos{
    height: 13.75rem;
    width: 100%;
    background-color: var(--dark);
}

.copyright{
    height: 5.625rem;
    background-color: var(--darker);
    width: 100%;
}

.infos .main-container .col-4{
    height: 13.5rem;
}

.website-cr{
    border: 2px solid purple;
    height: 3rem;
    width: 13.5rem;
}